<h1>Rideshare Passengers</h1>
<article class="person-list">
  <section class="person-list-pagination">
    <div><h3><%= paginate @passengers %></h3></div>
  </section>
  <% @passengers.each do |passenger| %>
  <aside  class="person-list-avatar">
    <%= image_tag "https://placeimg.com/150/150/people", alt: passenger.name, class: "passenger"%>
  </aside>
  <section class="person-list-name">
    <h2>
      <%= link_to passenger.name, passenger_path(passenger.id) %>
    </h2>
  </section>
  <section class="person-list-details">
    &nbsp;
  </section>
  <section class="person-list-edit-delete">
    <h3>
      <%= link_to "Edit", edit_passenger_path(passenger.id) %>
      <%= link_to "Delete", passenger_path(passenger.id), method: :delete %>
    </h3>
  </section>
  <% end %>
</article>