<h1>Rideshare Drivers</h1>
<article class="person-list">
  <section class="person-list-pagination">
<h3 class="person-list-pagination-text"><%= paginate @drivers %></h3>
  </section>
  <% @drivers.each do |driver| %>
  <aside  class="person-list-avatar">
    <%= image_tag "https://placeimg.com/150/150/people", alt: driver.name, class: "driver"%>
  </aside>
  <section class="person-list-name">
    <h2>
      <%= link_to driver.name, driver_path(driver.id) %>
    </h2>
  </section>
  <section class="person-list-details">
    <h3>
      Average Rating: <%= driver.average_rating %>
    </h3>
  </section>
  <section class="person-list-edit-delete">
    <h3>
      <%= link_to "Edit", edit_driver_path(driver.id) %>
      <%= link_to "Delete", driver_path(driver.id), method: :delete %>
    </h3>
  </section>
  <% end %>
</article>
